.array-container {
  position: relative;
  left: 20px;
  /*top: 50vh;*/
}

.array-bar {
  width: 2px;
  height: 30px;
  background-color: turquoise;
  display: inline-block;
  margin: 0 1px;
}

.btn-reset {
  padding: 10px;
  margin: 15px;
  background-color: rgb(233, 132, 16);
  color: aliceblue;
  border-radius: 15px;
  font-weight: bold;
}

.btn-merge {
  padding: 10px;
  margin: 15px;
  background-color: yellowgreen;
  color: aliceblue;
  border-radius: 15px;
  font-weight: bold;
}

.btn-bubble {
  padding: 10px;
  margin: 15px;
  background-color: yellowgreen;
  color: aliceblue;
  border-radius: 15px;
  font-weight: bold;
}

.btn-quick {
  padding: 10px;
  margin: 15px;
  background-color: yellowgreen;
  color: aliceblue;
  border-radius: 15px;
  font-weight: bold;
}

.btn-insertion {
  padding: 10px;
  margin: 15px;
  background-color: yellowgreen;
  color: aliceblue;
  border-radius: 15px;
  font-weight: bold;
}

.buttons {
  background-color: lavender;
}

.buttons button:hover {
  background-color: rgb(226, 97, 97);
}
