.array-container {
  position: relative;
  bottom: 0px;
  margin-bottom: 20px;
}

.array-bar {
  width: 3px;
  display: inline-block; /* arranges the array bars in horizontal way*/
  margin: 0 2px; /*Top,Bottom -> 0px Left,Right -> 1px*/
}

.buttons button {
  /*background-color: rgb(20, 224, 20);*/
  background-color: rgb(248, 73, 73);
  border: none;
  color: #eaf0f1;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  display: block; /* Make the buttons appear below each other */
  font: 15px "Century Gothic", Futura, sans-serif;
  border-radius: 10px;
  padding: 10px;
}
.buttons button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-reset {
  background-color: rgb(255, 169, 8);
}

.heading {
  background-color: black;
  color: whitesmoke;
  margin-top: 0px;
  padding: 1px;
  margin-bottom: 20px;
}

.buttons button:hover {
  /*background-color: rgb(248, 73, 73);*/
  background-color: rgb(20, 224, 20);
}

/*.buttons {
  display: block;
}*/

/* Add a background color on hover */

/*favicon: Icons made by <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>*/
