.array-container {
  position: relative;
  bottom: 0px;
}

.array-bar {
  width: 3px;
  display: inline-block; /* arranges the array bars in horizontal way*/
  margin: 0 2px; /*Top,Bottom -> 0px Left,Right -> 1px*/
}

.buttons button {
  background-color: rgb(20, 224, 20);
  border: none;
  color: #eaf0f1;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  display: block; /* Make the buttons appear below each other */
  font: 15px "Century Gothic", Futura, sans-serif;
  border-radius: 10px;
  padding: 10px;
}
.buttons button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-reset {
  background-color: rgb(255, 169, 8);
}

.heading {
  background-color: black;
  color: whitesmoke;
  margin-top: 0px;
  padding: 5px;
}

/*.buttons {
  display: block;
}*/

/* Add a background color on hover */
/* .buttons button:hover {
    background-color: #3e8e41;
} */
